<html>
  <head>
    <body>
      <h1>Kumud Ranjan</h1>
      <ul class="menu">
        <li class="Job"><a href="#Job">Jobs</a></li>
        <li class="about"><a href="#about">about</a></li>

      </ul>
      <section id="Jobs">
        <h1>Fathom Wells</h1>
        <h2>Digital Downstream: Your New Reality
          Industry 4.0 is rapidly transforming the downstream oil & gas industry.
          
          Downstream leaders now face new challenges, including a highly dynamic & complex production environment, risk & safety regulations, and industry-wide disruption from new digital technologies.
          
          At the same time, digital transformation opens up substantial new opportunities for innovative downstream leaders who find a way to combine, connect, and capitalize on emerging technologies.
          
          To drive digital transformation for downstream leaders, we have developed comprehensive solutions that bring the core components of digital downstream to life—fast, simple, and complete.
          
          </h2>
        <h3>Digital Downstream: End-to-End Solutions
          Our digital downstream solutions transform every step of the traditional upstream lifecycle. We provide the tools, workflows, and industry best practices required to:
          
          Apply advanced analytics to continuously increase plant yield.
          Leverage AI and ML across the complete petrochemical lifecycle.
          Find and fix process issues that lead to decreased production.
          Bring big data approaches to pricing estimations.
          Deploy predictive analytics to increase reliability & safety.
          Connect all downstream operations within a single digital platform.
          Here’s how.
          Digital Downstream: Our Approach
        We provide holistic solutions for digital downstream.
        
        Each of our digital downstream solutions combine:
        
        A Unified Software Platform that gives you a scalable, extensible, interoperable digital “home”
        Hard-to-Find Domain Experts that customize our solutions to solve your exact, unique pain points.
        Next-Generation Data Analytics that analyze your assets’ operational data to optimize performance.
          
          </h3>
        <h2>Solution Spotlight: fathom Process​
          fathom Process gives you an industrial IoT software platform that meets the needs of petrochemical production.
          
          Using our platform, you will develop a complete view of petrochemical production, design more sustainable products, and generate substantial bottom-line improvement through digital process optimization.
          
          With fathom Process, you will gain:
          
          High-Yield Optimization
          Reduced Material Needs
          Expanded Product Lines
          Efficient Energy Usage
          Asset Lifecycle Management
          Inventory Management. </h2>
        
        
        </section>


<section id="about">
<h1>Kumud Ranjan</h1>
<h2>hello guys, i am here to tell you more about our prpduct. 
  this is latest art of technology application leading in oil and gas industry. 
  this has been proven and lot of operational cost are cut down. feel free to go through our product any time.
</h2>






</section>





    </body>
  </head>
</html>